{% extends 'base.html' %}

{% block content %}

{% for item in profile %}
<div class="contentProfile">
<ul>
<b>{{ item.user.first_name }} {{ item.user.last_name }}</b><br>
<b>{{ item.user }}</b><br>
<b>{{ item.about_me }}</b><br>
<b>{{ item.gender }}</b><br>
<b>{{ item.date_of_birth }}</b><br>
</ul>
</div>
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">
<table class="forms">
   <div>
    <tr>
     <td>TEST</td>
    </tr>
  </div>
      <td class='padding-top'>
        <input type="hidden" name="referrer" value="{{ request.GET.profiles }}"/>
        <input type="submit" value="Save"/>
        <input type="button" value="Cancel" onClick="window.location='{{ request.GET.profiles }}'">
      </td>
    </tr>
  </table>

  </div>
  <div>
  <p></p>
  <form action="/uw/profile/update" method="post">{% csrf_token %}
    <table>
      {{ form.first_name }}
    </table>
    <input type="submit" value="Update Profile" />
  </form>
  </div>
{% endblock %}
